{% load active_link_tags %}
{% load static %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            {% if user.user_type == '1' %}
                <ul>
                    <li class="menu-title">
                        <span>Main Menu</span>
                    </li>
                    <li class="{% active_link 'hod_home' 'active' %}">
                        <a href="{% url 'hod_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="{% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
                        <a href="#"><i class="fas fa-user-graduate"></i> <span> Talaba</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'add_student' %}">Qo'shish Talaba</a></li>
                            <li><a href="{% url 'view_student' %}">View Talaba</a></li>
                        </ul>
                    </li>
                    <li class="submenu {% active_link 'add_staff' 'active' %}{% active_link 'view_staff' 'active' %}">
                        <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> O'qtuvchi</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'add_staff' %}">Add O'qtuvchi</a></li>
                            <li><a href="{% url 'view_staff' %}">View O'qtuvchi</a></li>
                        </ul>
                    </li>
                    <li class="submenu {% active_link 'add_course' 'active' %}{% active_link 'view_course' 'active' %}">
                        <a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> <span> Darslar</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'add_course' %}">Add Darslar</a></li>
                            <li><a href="{% url 'view_course' %}">View Darslar</a></li>
                        </ul>
                    </li>
                    <li class="submenu
                            {% active_link 'add_subject' 'active' %}{% active_link 'view_subject' 'active' %}">
                        <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'add_subject' %}">Add Subject</a></li>
                            <li><a href="{% url 'view_subject' %}">View Subject</a></li>
                        </ul>
                    </li>
                    <li class="submenu
                            {% active_link 'add_session' 'active' %}{% active_link 'view_session' 'active' %}">
                        <a href="#"><i class="fa fa-clock" aria-hidden="true"></i> <span> Sessiya</span> <span
                                class="menu-arrow"></span></a>
                        <ul>
                            <li><a href="{% url 'add_session' %}">Add Sessiya</a></li>
                            <li><a href="{% url 'view_session' %}">View Sessiya</a></li>
                        </ul>
                    </li>
                    <li class="ni
                            {% active_link 'staff_send_notification' 'active' %}">
                        <a href="{% url 'staff_send_notification' %}"><i class="fa fa-bell"></i> <span>Send Teacher Attendance</span></a>
                    </li>
                    <li>
                        <a href="{% url 'student_send_notification' %}"><i class="fa fa-bell"></i> <span>Send Student View Attendance</span></a>
                    </li>
                    <li>
                        <a href="holiday.html"><i class="fa fa-calendar"></i> <span>View Attendance</span></a>
                    </li>
                    <li>
                        <a href="{% url 'staff_feedback_reply' %}"><i class="fas fa-comment"></i> <span>O'qtuvchi Fikr-mulohaza</span></a>
                    </li>
                    <li>
                        <a href="{% url 'get_student_feedback' %}"><i class="fas fa-comment"></i> <span>Talaba Fikr-mulohaza</span></a>
                    </li>
                    <li class="ni      {% active_link 'staff_leave_view' 'active' %}">
                        <a href="{% url 'staff_leave_view' %}"><i class="fas fa-envelope"></i>
                            <span>O'qtuvchi darajasi </span></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-envelope"></i> <span>Talaba darajasi</span></a>
                    </li>
                    <li>
                        <a href="{% url 'dologout' %}"><i class="fa fa-sign-out-alt"></i> <span>Logout</span></a>
                    </li>
                </ul>
            {% elif user.user_type == '2' %}
                <ul>
                    <li class="menu-title">
                        <span>Main Menu</span>
                    </li>
                    <li class="{% active_link 'hod_home' 'active' %}">
                        <a href="{% url 'staff_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="{% active_link '' 'active' %}">
                        <a href="#"><i class="fas fa-calendar-alt"></i> <span>Take Attendance</span></a>
                    </li>
                    <li class="{% active_link '' 'active' %}">
                        <a href="#"><i class="fas fa-calendar-alt"></i>
                            <span>View/update Attendance</span></a>
                    </li>
                    <li class="{% active_link '' 'active' %}">
                        <a href="#"><i class="fas fa-poll-h"></i> <span>Add Result</span></a>
                    </li>
                    <li class="{% active_link 'staff_apply_leave' 'active' %}">
                        <a href="{% url 'staff_apply_leave' %}"><i class="fas fa-envelope-open"></i> <span>Apply For leave</span></a>
                    </li>
                    <li class="{% active_link 'staff_feedback' 'active' %}">
                        <a href="{% url 'staff_feedback' %}"><i class="fas fa-comment"></i>
                            <span>Send Feedback</span></a>
                    </li>
                    <li class="{% active_link 'notifications' 'active' %}">
                        <a href="{% url 'notifications' %}"><i class="fas fa-bell"></i>
                            <span>Notification</span></a>
                    </li>
                    <li class="{% active_link 'dologout' 'active' %}">
                        <a href="{% url 'dologout' %}"><i class="fas fa-sign-out-alt"></i>
                            <span>Logout</span></a>
                    </li>
                </ul>
            {% else %}
                <ul>
                    <li class="menu-title">
                        <span>Main Menu</span>
                    </li>
                    <li class="{% active_link 'student_home' 'active' %}">
                        <a href="{% url 'student_home' %}"><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="{% active_link '' 'active' %}">
                        <a href=""><i class="fas fa-calendar-alt"></i>
                            <span>View Attendance</span></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-poll" aria-hidden="true"></i><span>View Result</span></a>
                    </li>
                    <li>
                        <a href="{% url 'student_leave' %}"><i class="fa fa-pray" aria-hidden="true"></i><span>Apply For Leave</span></a>
                    </li>
                    <li>
                        <a href="{% url 'student_feedback' %}"><i class="fas fa-comment" aria-hidden="true"></i><span>Send Feedback</span></a>
                    </li>
                    <li>
                        <a href="{% url 'student_notification' %}"><i class="fas fa-bell" aria-hidden="true"></i><span>Notifications</span></a>
                    </li>
                    <li>
                        <a href="{% url 'dologout' %}"><i class="fa fa-calendar"
                                                          aria-hidden="true"></i><span>Logout</span></a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</div>